body {
  background-color: #232323;
  margin: 0;
  font-family: "Baloo Bhai", cursive;
}

.menu {
  background-color: white;
  color: steelblue;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
  color: steelblue;
}
.sub-menu {
  max-width: 600px;
  font-size: 20px;
}
.jumbotron {
  height: 200px;
  color: white;
  background: steelblue;
  transition: background 0.6s;
  margin-bottom: 0;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}
.text-center h1,
p {
  font-size: 42px;
}

#rbgColor {
  font-size: 30px;
}
.cursor {
  cursor: pointer;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

.color-grid {
  width: 30%;
  padding-bottom: 30%;
  background: purple;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

@media (min-width: 769px) {
}
